* {
    font-family: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #444444;
}

::-webkit-scrollbar-track {
    background-color: #444444;
}

::-webkit-scrollbar-thumb {
    background-color: #888888;
    border: 1px solid #444444;
    border-radius: 10px;
}

.button {
    border: none;
    max-width: 80%;
    text-align: center;
    width: 170px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #ccc;
    color: rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    font-weight: 500;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2em;
    height: 40px;
    outline: none;
    line-height: 40px;
    margin: auto;
    background-image: linear-gradient(to right, rgb(145, 254, 158), rgb(0, 201, 255));
    transition: 0.5s;
}

.button .ddl {
    background-image: none !important;
    background: white;
}

.input {
    background-image: none;
    color: rgb(0, 0, 0);
    cursor: text;
}

.button:hover::before {
    transform: scale(0.9);
    opacity: 0;
}

.button::before {
    color: white;
    height: 20px;
    content: attr(data-hover);
    position: absolute;
    transition: all 0.3s;
    opacity: 0.3s;
}

.button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 12px #aaa;
    transition: all 0.5s;
    transform: scale(1.05);
}

.headerButton {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    
}

.headerButton:hover {
    transform: scale(1.08);
}

.saveButton {
    position: absolute;
    width: 70px;
    color: white;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.newFeature {
    background: #FE4E4E;
    border: none;
    border-radius: 14px;
    font-size: 14px;
    width: 50px;
    height:30px;
    color: white;
    font-family: Punch;
}

.ddl {
    color: white;
    text-indent: 10%;
    text-align-last: center;
    
}

.ddl option {
    color: grey;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
    margin-left: auto;
    margin-right: auto;
}

.chooseColor {
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: 0.25s
}

.chooseColor:hover {
    transform: scale(1.08);
}

.error {
    position: relative;
    animation: shakeInput .1s linear;
    animation-iteration-count: 3;
}

@keyframes shakeInput {
    0% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}

img:hover {
    animation: shake 2s;
    animation-iteration-count: 200000;
}

.imgNoHover:hover {
    animation: none;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.animateZoom {
    animation: animatezoom 0.3s
}

@keyframes animatezoom {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

.text {
    color: white;
}

.text img {
    filter: invert(1);
}

.body {
    background-image: url("https://images.squarespace-cdn.com/content/54f63048e4b0a47e92eb5234/1556647880647-RO3Z3OIQP70F7JV8ETTF/plane.png");
    background-position: top center;
    background-size: fit;
    background-attachment: fixed;
    background-repeat: repeat-y;
}

.modalButton {
    white-space: nowrap;
    display: inline-block;
    padding: 8px 16px;
    overflow: hidden;
    vertical-align: middle;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background-color: rgb(192, 250, 199);
}

.modalButton:hover {
    background-color: white;
    opacity: 0.8;
}

.tabButton {
  padding:8px 16px;
  background-color: rgb(145, 254, 158);
  float: left;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
}

.tabButton:hover {
    border-color:rgb(0, 201, 255);
}

.modal {
    width: 100%;
    display: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 20;
    padding-top: 5%;
    top: 0;
    overflow: auto;
    position: fixed;
    left: 0;
    height: 100%;
}

.modalContent {
    outline: 0;
    width: 600px;
    position: relative;
    padding: 0;
    margin: auto;
    background-color: rgb(0, 201, 255);
}

.container {
    padding: 0.01em 16px
}

.aboutPage {
    display: grid;
    grid-template-areas:
        "header1"
        "paragraph1"
        "header2"
        "paragraph2"
        "header3"
        "paragraph3"
        "header4"
        "paragraph4";
    align-items: left;
    margin: 1em 20em;
/*
    padding: 20% 20%;
    opacity: 0.9;
*/
    border-radius: 1rem;
    border: 0.3rem solid #a0a0a0;
}

.paragraph1, .paragraph2, .paragraph3, .paragraph4 {
    text-align: left !important;
    padding-right: 0% !important;
    padding-left: 0% !important;
    margin-left: none !important;
    margin-right: none !important;
}

.header1 {grid-area: header1;}
.paragraph1 {text-align: left !important; grid-area: paragraph1;}
.header2 {grid-area: header2;}
.paragraph2 {text-align: left !important; grid-area: paragraph2;}
.header3 {grid-area: header3;}
.paragraph3 {text-align: left !important; grid-area: paragraph3;}
.header4 {grid-area: header4;}
.paragraph4 {text-align: left !important; grid-area: paragraph4;}
