* {
  user-select: none;
  font-family: inherit;
  box-sizing: border-box;
}

#settingsButtonImg {
  transition: 0.3s;
}

#settingsButtonImg:hover {
  transform: rotate(-45deg);
}

#settingsButtonImg:hover body {
  overflow: hidden !important;
}

.animateZoom {
  animation: animatezoom 0.4s;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(to right top, #63b7dd, #63ddc7);
  background-position: top center;
  background-repeat: repeat-y;
  background-size: 100%;
  background-size: fit;
}

.button {
  background-image: linear-gradient(to right top, rgb(145, 254, 158) 20%, rgb(0, 201, 255) 80%);
  background-repeat: no-repeat;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 6px #ccc;
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  font-weight: 500;
  height: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: auto;
  max-width: 80%;
  outline: none;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 170px;
  font-weight: bold;
}

.button::before {
  color: white;
  content: attr(data-hover);
  height: 20px;
  opacity: 0.3s;
  position: absolute;
  transition: all 0.3s;
}

.button .ddl {
  background: white;
  background-image: none !important;
}

.button:hover {
  box-shadow: 3px 3px 12px #aaa;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s;
}

.button:hover::before {
  opacity: 0;
  transform: scale(0.9);
}

.chooseColor {
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  transition: 0.25s;
  width: 15px;
  z-index: 10;
  right: 18px;
  width: 30px;
  height: 30px;
  border: 2px solid white; 
  text-align: center;
  color: white;
}

.chooseColor:hover {
  transform: scale(1.08);
}

.container {
  padding: 0.01em 16px;
  display: flex;
  flex: 1;
}

.ddl {
  color: white;
  text-align-last: center;
  text-indent: 10%;
}

.ddl option {
  color: grey;
}

.error {
  animation: shakeInput .1s linear;
  animation-iteration-count: 3;
  position: relative;
}

.h2, .h3 {
  text-align: center;
}

.headerButton {
  cursor: pointer;
  height: 40px;
  position: absolute;
  transition: 0.3s;
  width: 40px;
  z-index: 10;
}

.headerButton:hover {
  transform: scale(1.08);
}

.img:hover {
  animation: shake 2s;
  animation-iteration-count: 200000;
}

.imgNoHover:hover {
  animation: none;
}

.input {
  background-image: none;
  color: rgb(0, 0, 0);
  cursor: text;
}

#logo {
  display: block;
  margin: 2em auto;
}

.modal {
  display: none;
  background-color: rgba(0,0,0,0.1);
  height: 150%;
  left: 0;
  overflow: auto;
  padding-top: 5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

#close {
background: url(https://cdn.artofproblemsolving.com/attachments/5/8/0e3aad833ef384eeb9855b43650f3418d6d81e.png) !important;
}

.modalButton {
    white-space: nowrap;
    display: inline-block;
    padding: 8px 16px;
    overflow: hidden;
    vertical-align: middle;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin: 0px !important;
    transition: background-color 0.3s;
}

#closeModal:focus-within {
  background-color: white;
  opacity: 0.9;
}

#closeModal:hover {
  background-color: rgb(252, 94, 66);
  color: white;
}

#closeModal:active {
  opacity: 0.6;
}
.modalContent {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
  margin: auto;
  outline: 0;
  padding: 0;
  position: relative;
  width: 50%;
  height: 50%;
  transition: 0.3s;
  border-radius: 15px !important;
  backdrop-filter: blur(2rem);
  font-family: 'Poppins';
  font-weight: 600;
  color: #426696;
  overflow: auto;
}

.modalContent h5 {
  margin-left: 0.6rem;
  margin-top: 0;
}

.modalContent h2 {
  background-color: #91fe9e;
  border-radius: 5px;
  box-shadow: 0px 10px 24px 0px rgb(0 0 0 / 0.25);
  width: max-content;
  padding: 0.1em 1.3em 0 0.6em;
  text-indent: 2ch;
  color: black;
}


.newFeature {
  background: #FE4E4E;
  border: none;
  border-radius: 14px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  height: 30px;
  width: 50px;
  transform: translateY(-2px);
}

.saveButton {
  color: white;
  position: absolute;
  width: 75%;
  left: 10%;
  margin: 0.4rem;
  bottom: 0;
}


.text {
  color: black;
}

.text img {
  filter: invert(0);
}

::-webkit-scrollbar {
  background-color: #444;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border: 1px solid #444;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #444;
}

@keyframes animatezoom {
  0% {
  transform: scale(0);
  }

  100% {
  transform: scale(1);
  }

}

@keyframes shake {
  0% {
  transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
  transform: translate(-1px, -2px) rotate(-1deg);
  }

  100% {
  transform: translate(1px, -2px) rotate(-1deg);
  }

  20% {
  transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
  transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
  transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
  transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
  transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
  transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
  transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
  transform: translate(1px, 2px) rotate(0deg);
  }

}

@keyframes shakeInput {
  0% {
  transform: translateX(-5px);
  }

  100% {
  transform: translateX(5px);
  }

}

h1 {
  text-align: center;
}

html, body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

p {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}

#fire-icon{
  transition: color 0.3s;
}

#fire-icon:hover {
  color: red !important;
    
}

.level-option-container {
  border: none !important;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.fa-trash-alt {
  transition: ease 0.4s;
}

.fa-trash-alt:hover {
  color: red;
}

#reportButtonImg {
  stroke-width: 2;
  stroke: grey;
  transition: all 0.3s;
}

#reportButtonImg:hover {
  stroke: red;
  transform: translateX(0)
}

#reportButtonImg:active {
  fill: red;
  stroke: rgb(255, 252, 84);
  transform: scale(0.96, 0.96);
}

.tab-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 2rem;
}

.tabButton {
  font-size: 16px;
  transition: all 0.2s;
  background-color: transparent;
  width: 100%;
}


.streak-modal {
  position: fixed;
  z-index: 16;
  display: none;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 5%;
  width: 100%;
  overflow: hidden;
}

.streak-modal-content {
  background-color: rgba(0, 201, 255, 0.9);
  margin: auto;
  outline: 0;
  padding: 0;
  position: relative;
  width: 40%;
  transition: 0.3s;
  border-radius: 15px !important;
  height: 40%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#streak-count {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  padding: 0.4em 0.4em;
}

.links {

}

.link {
  transition: 0.3s ease;
  width: 10rem;
  text-align: center;
  border-radius: 6px;
}


.link:hover {
  background-color: #1b365d14;

}

.settings-content {
  position: absolute;
  top: 0;
  left: 10em;
}

.settings-navigation {
  position: sticky;
  top: 0;
  width: 10rem;  
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.897);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  filter: drop-shadow(0 18px 15px rgb(0 0 0 / 15%))
}

.settings-navigation::-webkit-scrollbar {
  background-color: #444;
  width: 5px;
}

.settings-navigation::-webkit-scrollbar-thumb {
  background-color: #888;
  border: 1px solid #444;
  border-radius: 10px;
}

.settings-navigation::-webkit-scrollbar-track {
  background-color: #444;
}


.text a{
color: #1273fa;
transition: background-color 0.3s ease;
text-decoration: none;
position: relative;
}

.text a:active{
  color: #0852b9;

  }

.text a::after {
  content: '';
  transform: scaleX(0);
transform-origin: right;
width: 100% !important;
height: 2px;
left: 0;
background: currentColor;
transition: ease 0.5s;
position: absolute;
bottom: 0;
}

.text a:hover::after,
.text a:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

#ans.input.button {
  color: black !important;
}

@media (max-height: 300px) {
  .logo {
    display: none;
  }
  .modalContent{
  height: 90vh;
  }
}

@media (max-height: 500px) {
.saveButton {
  bottom: auto;
}
}
