#settingsButtonImg {
  transition: 0.3s;
}

#settingsButtonImg:hover {
  transform: rotate(-45deg);
}

* {
  font-family: inherit;
}

*/
.animateZoom {
  animation: animatezoom 0.3s;
}

.body {
  background-attachment: fixed;
  background-image: linear-gradient(to right, rgb(145, 254, 158), rgb(0, 201, 255));
  background-position: top center;
  background-repeat: repeat-y;
  background-size: 100%;
  background-size: fit;
}

.button {
  background-image: linear-gradient(to right, rgb(145, 254, 158), rgb(0, 201, 255));
  background-repeat: no-repeat;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 6px #ccc;
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  font-weight: 500;
  height: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: auto;
  max-width: 80%;
  outline: none;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 170px;
}

.button::before {
  color: white;
  content: attr(data-hover);
  height: 20px;
  opacity: 0.3s;
  position: absolute;
  transition: all 0.3s;
}

.button:hover {
  box-shadow: 3px 3px 12px #aaa;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s;
}

.button:hover::before {
  opacity: 0;
  transform: scale(0.9);
}

.chooseColor {
  border-radius: 50%;
  cursor: pointer;
  height: 15px;
  position: absolute;
  transition: 0.25s;
  width: 15px;
  z-index: 10;
}

.chooseColor:hover {
  transform: scale(1.08);
}

.container {
  padding: 0.01em 16px;
}

.ddl {
  color: white;
  text-align-last: center;
  text-indent: 10%;
}

.ddl option {
  color: grey;
}

.error {
  animation: shakeInput .1s linear;
  animation-iteration-count: 3;
  position: relative;
}

.h2, .h3 {
  text-align: center;
}

.headerButton {
  cursor: pointer;
  height: 40px;
  position: absolute;
  transition: 0.3s;
  width: 40px;
  z-index: 10;
}

.headerButton:hover {
  transform: scale(1.08);
}

.img:hover {
  animation: shake 2s;
  animation-iteration-count: 200000;
}

.imgNoHover:hover {
  animation: none;
}

.input {
  background-image: none;
  color: rgb(0, 0, 0);
  cursor: text;
}

.modal {
  display: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.modalButton {
  display: none;
  width: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  z-index: 20;
  padding-top: 5%;
  top: 0;
  overflow: auto;
  position: fixed;
  left: 0;
  height: 100%;
}

.modalButton:focus {
  background-color: white;
  opacity: 0.9;
}

.modalButton:hover {
  background-color: white;
  opacity: 0.8;
}

.modalContent {
  background-color: rgb(0, 201, 255);
  margin: auto;
  outline: 0;
  padding: 0;
  position: relative;
  width: 600px;
}

.newFeature {
  background: #FE4E4E;
  border: none;
  border-radius: 14px;
  color: white;
  font-family: Punch;
  font-size: 14px;
  height: 30px;
  width: 50px;
}

.saveButton {
  bottom: 5px;
  color: white;
  position: absolute;
  right: 5px;
  width: 70px;
}

.tabButton {
  background-color: rgb(145, 254, 158);
  float: left;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
  transition: 0.2s;
  width: 150px;
}

.tabButton:hover {
  transform: translateY(2px);
}

.text {
  color: black;
}

.text img {
  filter: invert(1);
}

::-webkit-scrollbar {
  background-color: #444;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border: 1px solid #444;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #444;
}

@keyframes animatezoom {
  0% {
  transform: scale(0);
  }

  100% {
  transform: scale(1);
  }

}

@keyframes shake {
  0% {
  transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
  transform: translate(-1px, -2px) rotate(-1deg);
  }

  100% {
  transform: translate(1px, -2px) rotate(-1deg);
  }

  20% {
  transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
  transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
  transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
  transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
  transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
  transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
  transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
  transform: translate(1px, 2px) rotate(0deg);
  }

}

@keyframes shakeInput {
  0% {
  transform: translateX(-5px);
  }

  100% {
  transform: translateX(5px);
  }

}

h1 {
  text-align: center;
}

html, body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

p {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}

